. {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Arial, Helvetica, sans-serif;
}

.element.style {
  scrollbar-color: var(--background-highest) var(background-default)
}

body {
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  color: #fff;
  min-height: 100vh;
  scrollbar-color: var(--background-highest) var(background-default)
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.logo span {
  color: #ff4ecd;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #ff4ecd;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
  gap: 40px;
}

.hero-text h1 {
font-size: 56px;
margin-bottom: 20px;
}

.hero-text h1 span {
  color: #ff4ecd;
}

.hero-text p {
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 22px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px;
  transition: .3s;
}

.primary {
  background: #ff4ecd;
  color: #000;
}

.primary:hover {
  opacity: 0.8;
}

.secondary {
  border: 1px solid #aaa;
  color: #fff;
}

.secondary:hover {
  background: #fff;
  color: #000;
}

/* CARD */
.hero-card {
  background: rgba(255, 255, 255, 0.08);
  padding: 30px;
  border-radius: 15px;
  width: 260px;
  backdrop-filter: blur(10px);
}

.hero-card h3 {
  margin-bottom: 10px;
}

.hero-card p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 15px;
}

.youtube-link {
  color: #ff4ecd;
  text-decoration: none;
  font-size: 13px;
}

.youtube-link:hover {
  text-decoration: underline;
}